@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 面板背景色
$floating-panel-bg: var(--wot-floating-panel-bg, $filled-oppo) !default;
// 面板圆角
$floating-panel-radius: var(--wot-floating-panel-radius, $radius-large) !default;
// 面板 z-index
$floating-panel-z-index: var(--wot-floating-panel-z-index, 99) !default;
// 头部高度
$floating-panel-header-height: var(--wot-floating-panel-header-height, $n32) !default;
// 拖拽条宽度
$floating-panel-bar-width: var(--wot-floating-panel-bar-width, $n36) !default;
// 拖拽条高度
$floating-panel-bar-height: var(--wot-floating-panel-bar-height, $n4) !default;
// 拖拽条背景色
$floating-panel-bar-bg: var(--wot-floating-panel-bar-bg, $filled-strong) !default;
// 拖拽条圆角
$floating-panel-bar-radius: var(--wot-floating-panel-bar-radius, $radius-main) !default;
// 内容区域背景色
$floating-panel-content-bg: var(--wot-floating-panel-content-bg, $filled-oppo) !default;

@include b(floating-panel) {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $floating-panel-z-index;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  border-top-left-radius: $floating-panel-radius;
  border-top-right-radius: $floating-panel-radius;
  background-color: $floating-panel-bg;
  touch-action: none;
  will-change: transform;
  @include when(safe) {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  &::after {
    position: absolute;
    bottom: -100vh;
    display: block;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: inherit;
  }

  @include e(header) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $floating-panel-header-height;
    cursor: grab;
    user-select: none;
    &-bar {
      width: $floating-panel-bar-width;
      height: $floating-panel-bar-height;
      background-color: $floating-panel-bar-bg;
      border-radius: $floating-panel-bar-radius;
    }
  }

  @include e(content) {
    flex: 1;
    min-width: 0;
    min-height: 0;
    background-color: $floating-panel-content-bg;
  }
}
