@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 键盘背景色
$keyboard-bg: var(--wot-keyboard-bg, $filled-content) !default;
// 键盘文字颜色
$keyboard-color: var(--wot-keyboard-color, $text-main) !default;
// 键盘内容间距
$keyboard-padding: var(--wot-keyboard-padding, $padding-tight) !default;
// 键盘头部高度
$keyboard-header-height: var(--wot-keyboard-header-height, $n-40) !default;
// 键盘标题颜色
$keyboard-title-color: var(--wot-keyboard-title-color, $text-secondary) !default;
// 键盘标题字号
$keyboard-title-font-size: var(--wot-keyboard-title-font-size, $typography-body-size-main) !default;
// 关闭按钮文字颜色
$keyboard-close-color: var(--wot-keyboard-close-color, $primary-6) !default;
// 关闭按钮悬浮透明度
$keyboard-close-opacity-hover: var(--wot-keyboard-close-opacity-hover, $opacity-dimmer) !default;
// 关闭按钮字号
$keyboard-close-font-size: var(--wot-keyboard-close-font-size, $typography-body-size-main) !default;
// 关闭按钮内边距
$keyboard-close-padding: var(--wot-keyboard-close-padding, $padding-zero $padding-loose) !default;

@include b(keyboard) {
  width: 100%;
  background: $keyboard-bg;
  color: $keyboard-color;
  user-select: none;

  @include e(header) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $keyboard-header-height;
    color: $keyboard-title-color;
    font-size: $keyboard-title-font-size;
  }

  @include e(title) {
    display: inline-block;
    font-weight: normal;

    &-left {
      position: absolute;
      left: 0;
    }
  }

  @include e(body) {
    display: flex;
    padding-left: $keyboard-padding;
    padding-top: $keyboard-padding;

    .wd-keyboard__header + & {
      padding-top: 0;
    }
  }

  @include e(keys) {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
  }

  @include e(car-keys) {
    display: flex;
    flex: 10;
    flex-wrap: wrap;

    .wd-key-wrapper {
      flex-basis: 10%;

      @include m(wider) {
        flex-basis: 20%;
      }
    }
  }

  @include e(close) {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    height: 100%;
    padding: $keyboard-close-padding;
    color: $keyboard-close-color;
    font-size: $keyboard-close-font-size;
    background-color: transparent;
    border: none;

    &:active {
      opacity: $keyboard-close-opacity-hover;
    }

  }

  @include e(sidebar) {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
