@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 组件级 CSS 变量定义
$skeleton-row-margin-bottom: var(--wot-skeleton-row-margin-bottom, $spacing-loose) !default;
$skeleton-col-bg: var(--wot-skeleton-col-bg, $filled-strong) !default;
$skeleton-text-height: var(--wot-skeleton-text-height, $n16) !default;
$skeleton-rect-height: var(--wot-skeleton-rect-height, $n16) !default;
$skeleton-circle-height: var(--wot-skeleton-circle-height, $n48) !default;
$skeleton-border-radius-text: var(--wot-skeleton-border-radius-text, $radius-small) !default;
$skeleton-border-radius-rect: var(--wot-skeleton-border-radius-rect, $radius-main) !default;
$skeleton-border-radius-circle: var(--wot-skeleton-border-radius-circle, $radius-radius-full) !default;
$skeleton-animation-gradient: var(--wot-skeleton-animation-gradient, $filled-bottom) !default;
$skeleton-animation-flashed: var(--wot-skeleton-animation-flashed, $filled-bottom) !default;
$skeleton-animation-flashed-opacity: var(--wot-skeleton-animation-flashed-opacity, $opacity-backdrop) !default;

@include b(skeleton) {
  box-sizing: border-box;

  @include e(row) {
    justify-content: space-between;
    margin-bottom: $skeleton-row-margin-bottom;
    display: flex;
    align-items: center;

    &:only-child,
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include e(col) {
    border-radius: $skeleton-border-radius-text;
    background-color: $skeleton-col-bg;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child:last-child,
    &:last-child {
      margin-right: 0;
    }
  }
  @include m(type) {
    &-text {
      width: 100%;
      height: $skeleton-text-height;
      border-radius: $skeleton-border-radius-text;
    }

    &-rect {
      width: 100%;
      height: $skeleton-rect-height;
      border-radius: $skeleton-border-radius-rect;
    }

    &-circle {
      flex-shrink: 0;
      width: $skeleton-circle-height;
      height: $skeleton-circle-height;
      border-radius: $skeleton-border-radius-circle;
    }
  }
  @include m(animation) {
    &-gradient {
      position: relative;
      overflow-x: hidden;

      &::after {
        content: ' ';
        position: absolute;
        animation: wd-skeleton-gradient 1.5s linear 2s infinite;
        background: linear-gradient(90deg, transparent, $skeleton-animation-gradient, transparent);
        inset: 0;
      }
    }

    &-flashed {
      animation: wd-skeleton-flashed 2s linear 2s infinite;
    }
  }

  @keyframes wd-skeleton-gradient {
    0% {
      transform: translateX(-100%) skewX(-15deg);
    }
    100% {
      transform: translateX(100%) skewX(-15deg);
    }
  }
  @keyframes wd-skeleton-flashed {
    0% {
      opacity: 1;
    }
    50% {
      opacity: $skeleton-animation-flashed-opacity;
      background: $skeleton-animation-flashed;
    }
    100% {
      opacity: 1;
    }
  }
}
