@use '../../styles/mixin/mixin.scss' as *;
@use '../../styles/variable.scss' as *;

// 组件最小高度
$loadmore-height: var(--wot-loadmore-height, $n-48) !default;
// 组件内边距
$loadmore-padding: var(--wot-loadmore-padding, $spacing-main $spacing-loose) !default;
// 默认文字颜色
$loadmore-color: var(--wot-loadmore-color, $text-secondary) !default;
// 默认文字字号
$loadmore-font-size: var(--wot-loadmore-font-size, $typography-body-size-main) !default;
// 默认文字行高
$loadmore-line-height: var(--wot-loadmore-line-height, $typography-body-line-height-size-main) !default;
// 加载图标尺寸
$loadmore-loading-size: var(--wot-loadmore-loading-size, $n-28) !default;
// 加载图标与文字间距
$loadmore-loading-spacing: var(--wot-loadmore-loading-spacing, $spacing-tight) !default;
// 刷新态文字颜色
$loadmore-refresh-color: var(--wot-loadmore-refresh-color, $primary-6) !default;
// 刷新图标字号
$loadmore-refresh-font-size: var(--wot-loadmore-refresh-font-size, $typography-body-size-extra-large) !default;
// 刷新图标行高
$loadmore-refresh-line-height: var(--wot-loadmore-refresh-line-height, $typography-body-line-height-size-extra-large) !default;
// 重试文案与图标间距
$loadmore-retry-spacing: var(--wot-loadmore-retry-spacing, 0 $spacing-extra-tight) !default;

@include b(loadmore) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: $loadmore-height;
  padding: $loadmore-padding;
  color: $loadmore-color;

  @include edeep(divider) {
    width: 100%;
    margin: $spacing-zero;
  }

  @include edeep(loading) {
    margin-right: $loadmore-loading-spacing;
    font-size: $loadmore-loading-size;
  }

  @include e(text,refresh-text) {
    font-size: $loadmore-font-size;
    line-height: $loadmore-line-height;
  }

  @include e(refresh-text) {
    margin: $loadmore-retry-spacing;
    color: $loadmore-refresh-color;
  }

  @include edeep(refresh) {
    color: $loadmore-refresh-color;
    font-size: $loadmore-refresh-font-size;
    line-height: $loadmore-refresh-line-height;
  }
}
