@use '../../../styles/mixin/mixin.scss' as *;
@use '../index.scss' as *;

@include b(year) {
  @include e(title) {
    font-size: $calendar-view-panel-title-font-size;
    line-height: $calendar-view-panel-title-line-height;
    color: $calendar-view-panel-title-color;
    padding: $calendar-view-panel-title-padding;
    font-weight: $calendar-view-panel-title-font-weight;
    margin: $calendar-view-panel-title-margin;
  }

  @include e(months) {
    display: flex;
    flex-wrap: wrap;
    font-size: $calendar-view-day-font-size;
    color: $calendar-view-day-color;
    padding: $calendar-view-item-padding;
  }

  @include e(month) {
    position: relative;
    width: 25%;
    height: $calendar-view-month-height;
    line-height: $calendar-view-month-height;
    font-weight: $calendar-view-month-font-weight;
    text-align: center;
    margin-bottom: $calendar-view-item-margin-bottom;

    @include when(disabled) {
      .wd-year__month-text {
        color: $calendar-view-color-disabled;
      }
    }

    @include when(current) {
      color: $calendar-view-color-active;
    }

    @include when(selected) {
      color: $calendar-view-color-selected;

      .wd-year__month-container {
        border-radius: $calendar-view-border-radius-active;
        background: $calendar-view-color-active;
      }
    }

    @include when(middle) {
      background: $calendar-view-range-bg;
      color: $calendar-view-range-color;
    }

    @include when(start) {
      color: $calendar-view-color-selected;

      .wd-year__month-container {
        position: relative;
        z-index: 1;
        background: $calendar-view-color-active;
        border-radius: $calendar-view-border-radius-active 0 0 $calendar-view-border-radius-active;
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 50%;
        bottom: 0;
        content: '';
        height: $calendar-view-month-height;
        background: $calendar-view-range-bg;
      }

      &.is-without-end::after {
        display: none;
      }
    }

    @include when(end) {
      color: $calendar-view-color-selected;

      .wd-year__month-container {
        position: relative;
        z-index: 1;
        background: $calendar-view-color-active;
        border-radius: 0 $calendar-view-border-radius-active $calendar-view-border-radius-active 0;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        content: '';
        background: $calendar-view-range-bg;
      }


    }

    @include when(same) {
      color: $calendar-view-color-selected;

      .wd-year__month-container {
        background: $calendar-view-color-active;
        border-radius: $calendar-view-border-radius-active;
      }
    }
    @include when(last-row){
      margin-bottom: 0;
    }
  }

  @include e(month-container) {
    position: relative;
    width: $calendar-view-month-width;
    height: $calendar-view-month-height;
    margin: 0 auto;
    text-align: center;
  }
  
  @include e(month-text) {
   font-weight: $calendar-view-month-font-weight;
  }

  @include e(month-top) {
    position: absolute;
    top: $calendar-view-info-position;
    left: 0;
    right: 0;
    line-height: $calendar-view-info-line-height;
    font-size: $calendar-view-info-font-size;
    text-align: center;
  }

  @include e(month-bottom) {
    position: absolute;
    bottom: $calendar-view-info-position;
    left: 0;
    right: 0;
    line-height: $calendar-view-info-line-height;
    font-size: $calendar-view-info-font-size;
    text-align: center;
  }
}
