@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

$radio-label-margin: var(--wot-radio-label-margin, $spacing-tight) !default; // 文字与图标距离
$radio-checked-color: var(--wot-radio-checked-color, $primary-6) !default; // 选中颜色
$radio-icon-size: var(--wot-radio-icon-size, $n22) !default; // 图标尺寸
$radio-unchecked-color: var(--wot-radio-unchecked-color, $coolgrey-3) !default; // 图标颜色
$radio-label-fs: var(--wot-radio-label-fs, $typography-body-size-main) !default; // 文字字号
$radio-label-color: var(--wot-radio-label-color, $text-main) !default; // 文字颜色
$radio-label-line-height: var(--wot-radio-label-line-height, $typography-body-line--height-size-main) !default; // 文字行高
$radio-disabled: var(--wot-radio-disabled, $opacity-disabled) !default; // 禁用
$radio-vertical-padding: var(--wot-radio-vertical-margin, $spacing-extra-loose $padding-zero) !default; // 垂直模式多个单选框距离
$radio-horizontal-margin: var(--wot-radio-horizontal-margin, 0 $spacing-extra-loose 0 0) !default; // 水平模式多个单选框距离
$radio-button-margin: var(--wot-radio-button-margin, 0 $spacing-extra-loose $spacing-extra-loose 0) !default; // 按钮模式多个单选框距离
$radio-button-border-width: var(--wot-radio-border-width, $n1) !default; // 边框宽度
$radio-button-shape-border-radius: var(--wot-radio-button-shape-border-radius, $radius-radius-full) !default; // 按钮模式图标圆角大小
$radio-button-shape-size: var(--wot-radio-button-shape-size, $n26) !default; // 按钮模式图标容器大小
$radio-button-fs: var(--wot-radio-button-fs, $typography-body-size-main) !default; // 按钮模式字号
$radio-button-line-height: var(--wot-radio-button-line-height, $typography-body-line--height-size-main) !default; // 按钮模式行高
$radio-button-bg: var(--wot-radio-button-bg, $filled-bottom) !default; // 按钮模式背景颜色
$radio-button-checked-bg: var(--wot-radio-button-checked-bg, $filled-oppo) !default; // 按钮模式选中状态背景颜色
$radio-button-icon-size: var(--wot-radio-icon-size, $n10) !default; // 图标尺寸
$radio-button-min-width: var(--wot-radio-button-min-width, 74px) !default; // 按钮模式最小宽
$radio-button-max-width: var(--wot-radio-button-max-width, 148px) !default; // 按钮模式最大宽
$radio-button-border-radius: var(--wot-radio-button-border-radius, $radius-main) !default; // 按钮圆角大小
$radio-button-padding: var(--wot-radio-button-padding, $padding-extra-tight $padding-extra-loose) !default; // 按钮模式内边距
$radio-button-icon-color: var(--wot-radio-button-icon-color, $icon-white) !default; // 按钮模式图标颜色

@include b(radio) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include m(vertical) {
    padding: $radio-vertical-padding;
  }

  @include m(horizontal) {
    display: inline-flex;
    justify-content: flex-start;
    vertical-align: middle;

    &:not(:last-child) {
      margin: $radio-horizontal-margin;
    }
  }

  @include m(right) {
    .wd-radio__label {
      margin-right: $radio-label-margin;
    }
  }

  @include m(left) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .wd-radio__label {
      margin-left: $radio-label-margin;
    }
  }

  @include edeep(icon) {
    font-size: $radio-icon-size;
    height: $radio-icon-size;
    line-height: $radio-icon-size;
    color: $radio-unchecked-color;
    transition: all 0.2s;
  }

  @include e(label) {
    font-size: $radio-label-fs;
    color: $radio-label-color;
    line-height: $radio-label-line-height;
    text-align: center;
    word-break: break-all;
  }

  @include e(shape) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include when(checked) {
    :deep(.wd-radio__icon) {
      color: $radio-checked-color;
    }
  }

  @include when(button) {
    display: inline-block;
    min-width: $radio-button-min-width;
    max-width: $radio-button-max-width;
    margin: $radio-button-margin;
    border-radius: $radio-button-border-radius;
    background: $radio-button-bg;
    font-size: $radio-button-fs;
    box-sizing: border-box;
    border: $radio-button-border-width solid $radio-button-bg;

    .wd-radio__label {
      position: relative;
      padding: $radio-button-padding;
      margin: auto;
      @include lineEllipsis;
    }

    .wd-radio__shape {
      position: absolute;
      top: -11px;
      left: -9px;
      width: $radio-button-shape-size;
      height: $radio-button-shape-size;
      border-radius: $radio-button-shape-border-radius;
      background: transparent;
    }

    :deep(.wd-radio__icon) {
      position: absolute;
      top: 13px;
      right: 4px;
      font-size: $radio-button-icon-size;
      line-height: $radio-button-icon-size;
      height: $radio-button-icon-size;
      color: $radio-button-icon-color;
    }

    &.wd-radio--right {
      .wd-radio__shape {
        left: auto;
        right: -9px;
      }

      :deep(.wd-radio__icon) {
        right: auto;
        left: 4px;
      }
    }

    @include when(checked) {
      color: $radio-checked-color;
      border-color: currentColor;
      background: $radio-button-checked-bg;

      .wd-radio__shape {
        color: $radio-checked-color;
        background: currentColor;
      }
    }
  }

  @include when(disabled) {
    opacity: $radio-disabled;
  }
}