@use '../../styles/mixin/mixin.scss'as *;
@use '../index.scss'as *;

@include b(month-panel) {

  @include e(controls) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $calendar-view-controls-padding;
  }

  @include e(controls-title){
    font-size: $calendar-view-panel-title-font-size;
    line-height: $calendar-view-panel-title-line-height;
    color: $calendar-view-panel-title-color;
    font-weight: $calendar-view-panel-title-font-weight;
  }

  @include edeep(control-icon){
    color: $calendar-view-control-icon-color;
    font-size: $calendar-view-control-icon-size;
    line-height: $calendar-view-control-icon-size;

    &:not(:last-child){
      margin-right: $calendar-view-control-icon-spacing;
    }
    @include when(disabled){
      color: $calendar-view-control-color-disabled;
      cursor: not-allowed;
    }
  }

  @include e(title) {
    font-size: $calendar-view-panel-title-font-size;
    line-height: $calendar-view-panel-title-line-height;
    color: $calendar-view-panel-title-color;
    padding: $calendar-view-panel-title-padding;
    font-weight: $calendar-view-panel-title-font-weight;
    margin: $calendar-view-panel-title-margin;
  }

  @include e(weeks) {
    display: flex;
    padding: $calendar-view-weeks-padding;
  }

  @include e(week) {
    flex: 1;
    text-align: center;
    color: $calendar-view-week-color;
    font-size: $calendar-view-week-font-size;
    line-height: $calendar-view-week-line-height;
  }

  @include e(container) {
    box-sizing: border-box;
  }

  @include e(time) {
    display: flex;
    box-shadow: $calendar-view-time-box-shadow;
  }

  @include e(time-label) {
    position: relative;
    flex: 1;
    font-size: $calendar-view-time-picker-font-size;
    color: $calendar-view-time-picker-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(time-text) {
    position: relative;
    z-index: 1;
  }

  @include e(time-picker) {
    flex: 3;
  }
}
