@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 组件高度
$sort-button-height: var(--wot-sort-button-height, $n-48) !default;
// 文字字号
$sort-button-text-font-size: var(--wot-sort-button-text-font-size, $typography-body-size-main) !default;
// 文字行高
$sort-button-text-line-height: var(--wot-sort-button-text-line-height, $typography-body-line--height-size-main) !default;
// 箭头图标尺寸
$sort-button-arrow-icon-size: var(--wot-sort-button-arrow-icon-size, $n-24) !default;
// 右侧区域尺寸
$sort-button-right-size: var(--wot-sort-button-right-size, $n-16) !default;
// 图标颜色
$sort-button-icon-color: var(--wot-sort-button-icon-color, $icon-auxiliary) !default;
// 图标激活颜色
$sort-button-icon-color-active: var(--wot-sort-button-icon-color-active, $primary-6) !default;
// 文字颜色
$sort-button-color: var(--wot-sort-button-color, $text-secondary) !default;
// 文字激活颜色
$sort-button-color-active: var(--wot-sort-button-color-active, $text-main) !default;
// 文字激活字重
$sort-button-font-weight-active: var(--wot-sort-button-font-weight-active, $font-weight-medium) !default;
// 下划线宽度
$sort-button-line-width: var(--wot-sort-button-line-width, $n-24) !default;
// 下划线高度
$sort-button-line-height: var(--wot-sort-button-line-height, $n-4) !default;
// 下划线颜色
$sort-button-line-color: var(--wot-sort-button-line-color, $primary-6) !default;
// 下划线底部距离
$sort-button-line-bottom: var(--wot-sort-button-line-bottom, $spacing-ultra-tight) !default;
// 右侧区域左间距
$sort-button-right-spacing-left: var(--wot-sort-button-right-spacing-left, $spacing-extra-tight) !default;
// 排序图标纵向间距
$sort-button-sort-spacing: var(--wot-sort-button-sort-spacing, $spacing-ultra-tight) !default;

@include b(sort-button) {
  display: inline-flex;
  height: $sort-button-height;
  align-items: center;

  @include m(line) {
    @include me(left) {
      &::after {
        position: absolute;
        content: '';
        width: $sort-button-line-width;
        height: $sort-button-line-height;
        bottom: $sort-button-line-bottom;
        left: 50%;
        transform: translate(-50%, 0);
        background: $sort-button-line-color;
        border-radius: calc($sort-button-line-height / 2);
        transition: opacity .15s;
        opacity: 0;
      }

      &.is-active::after {
        opacity: 1;
      }
    }
  }

  @include e(wrapper) {
    font-size: $sort-button-text-font-size;
    line-height: $sort-button-text-line-height;
    color: $sort-button-color;
    word-break: break-all;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
  }

  @include e(left) {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    @include when(active) {
      font-weight: $sort-button-font-weight-active;
      color: $sort-button-color-active;
    }
  }

  @include e(right) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $sort-button-right-size;
    height: $sort-button-right-size;
    margin-left: $sort-button-right-spacing-left;
    justify-content: center;
    align-items: center;
  }

  @include edeep(icon-up, icon-down) {
    font-size: $sort-button-arrow-icon-size;
    color: $sort-button-icon-color;
    transition: color .15s;
  }

  @include edeep(icon-up) {
    position: absolute;
    top: 0;
    transform: scale(0.5) translateY(calc(-1 * $sort-button-sort-spacing));
    transform-origin: top;

    @include m(active){
      color: $sort-button-icon-color-active;
    }
  }
  
  @include edeep(icon-down) {
    position: absolute;
    bottom: 0;
    transform: scale(0.5) translateY($sort-button-sort-spacing);
    transform-origin: bottom;

    @include m(active){
      color: $sort-button-icon-color-active;
    }
  }

}
