@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 日期时间选择器弹窗圆角
$datetime-picker-popup-radius: var(--wot-datetime-picker-popup-radius, $radius-large $radius-large $radius-zero $radius-zero) !default;
// 标题文字颜色
$datetime-picker-title-color: var(--wot-datetime-picker-title-color, $text-main) !default;
// 标题区域高度
$datetime-picker-title-height: var(--wot-datetime-picker-title-height, $n56) !default;
// 标题文字字号
$datetime-picker-title-font-size: var(--wot-datetime-picker-title-font-size, $typography-title-size-main) !default;
// 标题文字行高
$datetime-picker-title-line-height: var(--wot-datetime-picker-title-line-height, $typography-title-line--height-size-main) !default;
// 标题文字字重
$datetime-picker-title-font-weight: var(--wot-datetime-picker-title-font-weight, $font-weight-medium) !default;
// 标题区域内边距
$datetime-picker-title-padding: var(--wot-datetime-picker-title-padding, $padding-zero $padding-loose) !default;
// 操作按钮字号
$datetime-picker-action-font-size: var(--wot-datetime-picker-action-font-size, $typography-body-size-large) !default;
// 操作按钮行高
$datetime-picker-action-line-height: var(--wot-datetime-picker-action-line-height, $typography-body-line--height-size-large) !default;
// 操作按钮文字颜色
$datetime-picker-action-color: var(--wot-datetime-picker-action-color, $primary-6) !default;
// 范围标签内边距
$datetime-picker-range-padding: var(--wot-datetime-picker-range-padding, 0 $padding-loose $padding-extra-loose) !default;
// 范围标签字号
$datetime-picker-range-font-size: var(--wot-datetime-picker-range-font-size, $typography-body-size-main) !default;
// 范围标签项字号
$datetime-picker-range-item-font-size: var(--wot-datetime-picker-range-item-font-size, $typography-body-size-extra-large) !default;
// 范围标签项字重
$datetime-picker-range-item-font-weight: var(--wot-datetime-picker-range-item-font-weight, $font-weight-medium) !default;
// 范围标签项行高
$datetime-picker-range-item-line-height: var(--wot-datetime-picker-range-item-line-height, $typography-body-line--height-size-extra-large) !default;
// 范围标签项内边距
$datetime-picker-range-item-padding: var(--wot-datetime-picker-range-item-padding, $spacing-loose $spacing-zero) !default;
// 范围标签项颜色
$datetime-picker-range-item-color: var(--wot-datetime-picker-range-item-color, $primary-6) !default;
// 占位符颜色
$datetime-picker-range-item-placeholder-color: var(--wot-datetime-picker-range-item-placeholder-color, $text-placeholder) !default;
// 范围标签项下划线颜色
$datetime-picker-range-item-line-color: var(--wot-datetime-picker-range-item-line-color, $primary-6) !default;
// 范围标签项下划线占位符颜色
$datetime-picker-range-item-line-placeholder-color: var(--wot-datetime-picker-range-item-line-placeholder-color, $border-main) !default;
// 分隔符水平间距
$datetime-picker-range-separator-margin: var(--wot-datetime-picker-range-separator-margin, $spacing-zero $spacing-tight) !default;
// 分隔符颜色
$datetime-picker-range-separator-color: var(--wot-datetime-picker-range-separator-color, $text-auxiliary) !default;
// 分隔符宽度
$datetime-picker-range-separator-width: var(--wot-datetime-picker-range-separator-width, $n8) !default;
// 分隔符高度
$datetime-picker-range-separator-height: var(--wot-datetime-picker-range-separator-height, $n1) !default;

@include b(datetime-picker) {

  @include edeep(popup) {
    border-radius: $datetime-picker-popup-radius;
  }

  @include e(wraper) {
    padding-bottom: var(--window-bottom);
  }

  @include e(title) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: $datetime-picker-title-height;
    padding: $datetime-picker-title-padding;
  }

  @include e(action) {
    display: block;
    border: none;
    outline: none;
    font-size: $datetime-picker-action-font-size;
    line-height: $datetime-picker-action-line-height;
    color: $datetime-picker-action-color;
    background: transparent;
  }
  @include e(title-text) {
    display: block;
    float: 1;
    color: $datetime-picker-title-color;
    font-size: $datetime-picker-title-font-size;
    line-height: $datetime-picker-title-height;
    font-weight: $datetime-picker-title-font-weight;
  }

  @include e(range) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $datetime-picker-range-font-size;
    padding: $datetime-picker-range-padding;
  }

  @include e(range-item) {
    flex: 1;
    color: $datetime-picker-range-item-placeholder-color;
    font-size: $datetime-picker-range-item-font-size;
    font-weight: $datetime-picker-range-item-font-weight;
    line-height: $datetime-picker-range-item-line-height;
    padding: $datetime-picker-range-item-padding;
    text-align: center;
    @include pixelBorder(bottom, 0, $datetime-picker-range-item-line-placeholder-color);

    @include when(active) {
      color: $datetime-picker-range-item-color;
      @include pixelBorder(bottom, 0, $datetime-picker-range-item-line-color);
    }
  }

  @include e(range-separator) {
    width: $datetime-picker-range-separator-width;
    height: $datetime-picker-range-separator-height;
    position: relative;
    margin: $datetime-picker-range-separator-margin;
    background: $datetime-picker-range-separator-color;
  }

  @include e(hidden) {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }

  @include e(show) {
    visibility: visible;
    height: auto;
  }
}
