@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

$popover-bg: var(--wot-popover-bg, $filled-oppo) !default;
$popover-color: var(--wot-popover-color, $text-secondary) !default;
$popover-box-shadow: var(--wot-popover-box-shadow, 0 12px 48px 16px rgba(39, 43, 59, 0.03), 0 9px 28px 8px rgba(39, 43, 59, 0.05), 0 5px 12px 4px rgba(39, 43, 59, 0.06)) !default;
$popover-arrow-box-shadow: var(--wot-popover-arrow-box-shadow, 0 12px 48px 16px rgba(39, 43, 59, 0.03), 0 9px 28px 8px rgba(39, 43, 59, 0.05), 0 5px 12px 4px rgba(39, 43, 59, 0.06)) !default;
$popover-border-color: var(--wot-popover-border-color, $border-main) !default;
$popover-radius: var(--wot-popover-radius, $radius-main) !default;
$popover-arrow-size: var(--wot-popover-arrow-size, $n8) !default;
$popover-font-size: var(--wot-popover-font-size, $typography-body-size-main) !default;
$popover-line-height: var(--wot-popover-line-height, $typography-body-line--height-size-main) !default;
$popover-padding: var(--wot-popover-padding, $padding-loose) !default;
$popover-z-index: var(--wot-popover-z-index, 500) !default;
$popover-close-icon-size: var(--wot-popover-close-icon-size, $n12) !default;
$popover-close-icon-color: var(--wot-popover-close-icon-color, $icon-secondary) !default;
$popover-close-icon-padding: var(--wot-popover-close-icon-padding, $padding-super-tight) !default;


@include b(popover) {
  position: relative;
  display: inline-block;

  @include edeep(menu-icon) {
    font-size: 18px;
    margin-right: 5px;
  }

  @include e(menu) {
    position: relative;
    display: inline-block;
    padding: 0 $popover-padding;
    white-space: nowrap;
    background: $popover-bg;
    border-radius: $popover-radius;
  }

  @include e(menu-inner) {
    position: relative;
    padding: $popover-padding 0;
    display: flex;
    align-items: center;

    @include halfPixelBorder('top', 0, $popover-border-color);

    &:first-child::after,
    &.is-first::after {
      display: none;
    }
  }

  @include e(text) {
    display: inline-block;
    color: $popover-color;
    font-size: $popover-font-size;
    line-height: $popover-line-height;
  }

  @include edeep(pos) {
    position: absolute;
    box-sizing: border-box;
    background-clip: padding-box;
    text-align: center;
    z-index: $popover-z-index;
  }

  @include e(hidden) {
    left: -100vw;
    visibility: hidden;
  }

  @include e(container) {
    position: relative;
    z-index: $popover-z-index;
    box-shadow: $popover-box-shadow;
    border-radius: $popover-radius;
    background: $popover-bg;
  }

  @include e(inner) {
    position: relative;
    white-space: nowrap;
    padding: $popover-padding;
    font-size: $popover-font-size;
    line-height: $popover-line-height;
    color: $popover-color;
  }

  @include edeep(close-icon) {
    position: absolute;
    right: 0;
    top: 0;
    font-size: $popover-close-icon-size;
    padding: $popover-close-icon-padding;
    color: $popover-close-icon-color;
  }

  @include triangleArrow($popover-arrow-size, $popover-bg);
}