@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 背景色
$backtop-bg: var(--wot-backtop-bg, $filled-oppo) !default;
// 边框颜色
$backtop-border-color: var(--wot-backtop-border-color, $border-main) !default;
// 按钮宽度
$backtop-width: var(--wot-backtop-width, $n-48) !default;
// 按钮高度
$backtop-height: var(--wot-backtop-height, $n-48) !default;
// 方形模式圆角
$backtop-radius: var(--wot-backtop-radius, $radius-main) !default;
// 圆形模式圆角
$backtop-radius-circle: var(--wot-backtop-radius-circle, $radius-full) !default;
// 按钮图标颜色
$backtop-color: var(--wot-backtop-color, $icon-main) !default;
// 按钮图标尺寸
$backtop-icon-size: var(--wot-backtop-icon-size, $n-20) !default;
// 文本字号
$backtop-text-font-size: var(--wot-backtop-text-font-size, $typography-label-size-main) !default;
// 文本颜色
$backtop-text-color: var(--wot-backtop-text-color, $text-main) !default;
// 文本行高
$backtop-text-line-height: var(--wot-backtop-text-line-height, $typography-label-line-height-size-main) !default;
// 组件层级
$backtop-z-index: var(--wot-backtop-z-index, 100) !default;

@include b(backtop) {
  position: fixed;
  background: $backtop-bg;
  width: $backtop-width;
  height: $backtop-height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $backtop-color;
  z-index: $backtop-z-index;

  &::after {
    position: absolute;
    display: block;
    content: ' ';
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: $stroke-main solid $backtop-border-color;
    box-sizing: border-box;
    border-radius: inherit;
  }

  @include e(content) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include e(text) {
    font-size: $backtop-text-font-size;
    line-height: $backtop-text-line-height;
    color: $backtop-text-color;
  }

  @include edeep(backicon) {
    font-size: $backtop-icon-size;
  }

  @include when(circle) {
    border-radius: $backtop-radius-circle;
  }

  @include when(square) {
    border-radius: $backtop-radius;
  }
}
