@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

// 高度
$tabbar-height: var(--wot-tabbar-height, $n50) !default;
// 背景色
$tabbar-bg: var(--wot-tabbar-bg, $filled-oppo) !default;
// 固定定位层级
$tabbar-z-index: var(--wot-tabbar-z-index, 10) !default;
// round 变体水平外边距
$tabbar-round-margin-horizontal: var(--wot-tabbar-round-margin-horizontal, $spacing-extra-loose) !default;
// round 变体圆角
$tabbar-round-radius: var(--wot-tabbar-round-radius, $radius-radius-full) !default;
// round 变体阴影
$tabbar-round-shadow: var(
  --wot-tabbar-round-shadow,
  0 5px 5px -3px $opac-3_08,
  0 8px 10px 1px $opac-2_04,
  0 3px 14px 2px $opac-2_04
) !default;

@include b(tabbar) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  background: $tabbar-bg;
  height: $tabbar-height;

  @include e(placeholder) {
    box-sizing: content-box;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  @include m(round) {
    margin-left: $tabbar-round-margin-horizontal;
    margin-right: $tabbar-round-margin-horizontal;
    border-radius: $tabbar-round-radius;
    box-shadow: $tabbar-round-shadow;

    @include when(fixed) {
      @include when(safe) {
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
      }
    }
  }

  @include m(default) {
    @include when(fixed) {
      @include when(safe) {
        box-sizing: content-box;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
      }
    }

    @include when(border) {
      @include halfPixelBorder('top');
    }
  }

  @include when(fixed) {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $tabbar-z-index;
  }
}