@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

$popup-bg: var(--wot-popup-bg, $filled-oppo);
$popup-close-color: var(--wot-popup-close-color, $icon-auxiliary);
$popup-close-size: var(--wot-popup-close-size, $n24);
$popup-close-margin: var(--wot-popup-close-margin, $spacing-loose);

@include b(popup) {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background: $popup-bg;

  @include edeep(close) {
    position: absolute;
    top: $popup-close-margin;
    right: $popup-close-margin;
    color: $popup-close-color;
    font-size: $popup-close-size;
  }

  @include mdeep(center) {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: 0% 0%;

    &.wd-zoom-in-enter,
    &.wd-zoom-in-leave-to {
      transform: scale(0.8) translate3d(-50%, -50%, 0) !important;
    }

    @include when(deep) {

      &.wd-zoom-in-enter,
      &.wd-zoom-in-leave-to {
        transform: scale(0.1) translate3d(-50%, -50%, 0) !important;
      }
    }

  }

  @include mdeep(left) {
    top: 0;
    bottom: 0;
    left: 0;
  }

  @include mdeep(right) {
    top: 0;
    right: 0;
    bottom: 0;
  }

  @include mdeep(top) {
    top: 0;
    left: 0;
    right: 0;
  }

  @include mdeep(bottom) {
    right: 0;
    bottom: 0;
    left: 0;
  }
}