@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 圆环文字颜色
$circle-text-color: var(--wot-circle-text-color, currentColor) !default;
// 圆环文字字号
$circle-text-font-size: var(--wot-circle-text-size, $typography-title-size-large) !default;
// 圆环文字行高
$circle-text-line-height: var(--wot-circle-text-line-height, $typography-title-line--height-size-large) !default;


@include b(circle) {
  position: relative;
  display: inline-block;
  text-align: center;

  @include e(text) {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-size: $circle-text-font-size;
    line-height: $circle-text-line-height;
    color: $circle-text-color;
  }
}
