@use '../styles/variable.scss' as *;
@use '../styles/mixin/mixin.scss' as *;

/* ================================ 组件SCSS变量 ================================ */
/* 颜色变量 */
$cell-color-bg: var(--wot-cell-color-bg, $filled-oppo) !default;
$cell-color-bg-active: var(--wot-cell-color-bg-active, $filled-bottom) !default;
$cell-color-title: var(--wot-cell-color-title, $text-main) !default;
$cell-color-label: var(--wot-cell-color-label, $text-auxiliary) !default;
$cell-color-value: var(--wot-cell-color-value, $text-secondary) !default;
$cell-color-icon: var(--wot-cell-color-icon, $icon-secondary) !default;
$cell-color-theme: var(--wot-cell-color-theme, $primary-6) !default;
$cell-color-arrow: var(--wot-cell-color-arrow, $icon-auxiliary) !default;
$cell-color-border: var(--wot-cell-color-border, $border-main) !default;
$cell-color-clear: var(--wot-cell-color-clear, $icon-disabled) !default;
$cell-color-tap-bg: var(--wot-cell-color-tap-bg, $primary-1) !default;
$cell-color-required: var(--wot-cell-color-required, $danger-main) !default;
$cell-placeholder-color: var(--wot-cell-placeholder-color, $text-placeholder) !default; // 占位符颜色

/* 尺寸变量 */
$cell-size-arrow: var(--wot-cell-size-arrow, $n20) !default;
$cell-size-icon: var(--wot-cell-size-icon-large, $n20) !default;
$cell-line-height: var(--wot-cell-line-height, $typography-body-line--height-size-main) !default;

/* 字体变量 */
$cell-fs-title: var(--wot-cell-fs-title, $typography-body-size-main) !default;
$cell-fs-label: var(--wot-cell-fs-label, $typography-body-size-main) !default;
$cell-fs-value: var(--wot-cell-fs-value, $typography-body-size-main) !default;
$cell-fs-value-large: var(--wot-cell-fs-value-large, $typography-body-size-extra-large) !default;
$cell-fs-title-large: var(--wot-cell-fs-title-large, $typography-body-size-extra-large) !default;
$cell-fs-label-large: var(--wot-cell-fs-label-large, $typography-body-size-extra-large) !default;
$cell-fs-required: var(--wot-cell-fs-required, $typography-body-size-main) !default;
$cell-placeholder-font-size: var(--wot-cell-placeholder-font-size, $typography-body-size-main) !default; // 占位符字体大小

/* 间距变量 */
$cell-padding: var(--wot-cell-padding, $padding-loose) !default;
$cell-padding-large: var(--wot-cell-padding-large, $padding-extra-loose) !default;
$cell-padding-vertical-top: var(--wot-cell-padding-vertical-top, $padding-extra-loose) !default;
$cell-margin-required: var(--wot-cell-margin-required, $padding-super-tight) !default;
$cell-spacing-icon-right: var(--wot-cell-spacing-icon-right, $spacing-super-tight) !default;
$cell-margin-horizontal: var(--wot-cell-margin-horizontal, $spacing-loose) !default; // 水平布局时左右区域间距
$cell-arrow-margin-left: var(--wot-cell-arrow-margin-left, $spacing-tight) !default; // 箭头左侧间距
$cell-label-margin-top: var(--wot-cell-label-margin-top, $spacing-super-tight) !default; // 标签顶部间距

@include b(cell) {
  position: relative;
  padding: $cell-padding;
  background: $cell-color-bg;
  line-height: $cell-line-height;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  width: 100%;

  @include when(border) {
    @include halfPixelBorder('top',$cell-padding,$cell-color-border);
  }

  @include e(wrapper) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include m(vertical) {
      display: block;

      .wd-cell__right {
        margin-top: $cell-padding-vertical-top;
      }

      .wd-cell__value {
        text-align: left;
      }

      .wd-cell__left {
        margin-right: 0;
      }
    }
  }

  @include e(left) {
    position: relative;
    flex: 1;
    display: flex;
    text-align: left;
    font-size: $cell-fs-title;
    box-sizing: border-box;
  }

  @include e(right) {
    position: relative;
    flex: 1;
    min-width: 0;
  }

  @include e(title) {
    font-size: $cell-fs-title;
    color: $cell-color-title;
  }

  @include e(required) {
    font-size: $cell-fs-required;
    color: $cell-color-required;
    margin-left: $cell-margin-required;

    @include m(left) {
      margin-left: 0;
      margin-right: $cell-margin-required;
    }
  }

  @include e(label) {
    margin-top: $cell-label-margin-top;
    font-size: $cell-fs-label;
    color: $cell-color-label;
  }

  @include edeep(prefix) {
    display: block;
    position: relative;
    margin-right: $cell-spacing-icon-right;
    font-size: $cell-size-icon;
    line-height: $cell-line-height;
    height: $cell-line-height;
    color: $cell-color-icon;
  }

  @include e(body){
    display: flex;
    min-width: 0;
  }

  @include e(value) {
    position: relative;
    flex: 1;
    font-size: $cell-fs-value;
    color: $cell-color-value;
    vertical-align: middle;
    word-break: break-all;
    
    @include m(left) {
      text-align: left;
    }
    
    @include m(right) {
      text-align: right;
    }

    @include m(center) {
      text-align: center;
    }
    
    @include m(ellipsis) {
      @include lineEllipsis;
      min-width: 0;
    }
  }

  @include e(placeholder) {
    color: $cell-placeholder-color;
    font-size: $cell-placeholder-font-size;
  }

  @include edeep(arrow-right) {
    display: block;
    margin-left: $cell-arrow-margin-left;
    font-size: $cell-size-arrow;
    color: $cell-color-arrow;
    line-height: $cell-line-height;
    height: $cell-line-height;
  }

  @include edeep(suffix) {
    display: block;
    margin-left: $cell-arrow-margin-left;
    font-size: $cell-size-icon;
    line-height: $cell-line-height;
    height: $cell-line-height;
    color: $cell-color-icon;
  }


  @include when(link) {
    -webkit-tap-highlight-color: $cell-color-bg-active;
  }

  @include when(hover) {
    background: $cell-color-bg-active;
  }

  @include when(large) {
    --wot-cell-padding: #{$cell-padding-large};
    --wot-cell-fs-title: #{$cell-fs-title-large};
    --wot-cell-fs-label: #{$cell-fs-label-large};
    --wot-cell-fs-value: #{$cell-fs-value-large};
  }

  @include when(center) {
    .wd-cell__wrapper {
      align-items: center;
    }
  }
}
