@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 表格背景色
$table-bg: var(--wot-table-bg, $filled-oppo) !default;
// 表格文字颜色
$table-color: var(--wot-table-color, $text-main) !default;
// 斑马纹背景色
$table-stripe-bg: var(--wot-table-stripe-bg, $filled-bottom) !default;
// 边框颜色
$table-border-color: var(--wot-table-border-color, $border-main) !default;
// 边框宽度
$table-border-width: var(--wot-table-border-width, $stroke-main) !default;
// 单元格字号
$table-cell-font-size: var(--wot-table-cell-font-size, $typography-body-size-main) !default;
// 单元格行高
$table-cell-line-height: var(--wot-table-cell-line-height, $typography-body-line-height-size-main) !default;
// 单元格内边距
$table-cell-padding: var(--wot-table-cell-padding, $padding-loose $padding-extra-loose) !default;
// 固定列阴影渐变背景
$table-shadow-gradient: var(--wot-table-shadow-gradient, linear-gradient(270deg, $base-transparent 0%, $opac-2_04 100%)) !default;
// 排序按钮高度
$table-sort-button-height: var(--wot-table-sort-button-height, $n-20) !default;

@include b(table) {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: $table-bg;

  @include when(border) {
    border: $table-border-width solid $table-border-color;
  }

  @include e(header) {
    width: 100%;
    background: $table-bg;
    z-index: 2;

    @include when(sticky) {
      position: sticky;
      top: 0;
    }
  }

  @include e(body) {
    width: 100%;
  }

  @include e(cell) {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: $table-bg;
    padding: $table-cell-padding;
    font-size: $table-cell-font-size;
    line-height: $table-cell-line-height;
    color: $table-color;
    --wot-sort-button-height: #{$table-sort-button-height};

    @include when(border) {
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-right: $table-border-width solid $table-border-color;
        border-bottom: $table-border-width solid $table-border-color;
        pointer-events: none;
        box-sizing: border-box;
      }

      @include when(last) {
        &::before {
          border-right: none;
        }
      }
    }

    @include when(stripe) {
      background: $table-stripe-bg;
    }

    @include when(fixed) {
      position: sticky;
      z-index: 1;
    }

    @include when(shadow) {
      &::after {
        content: ' ';
        position: absolute;
        right: -30rpx;
        top: 0;
        width: 30rpx;
        height: 100%;
        background: $table-shadow-gradient;
      }
    }

    @include when(hidden) {
      display: none;
    }

    @include when(left) {
      justify-content: flex-start;
    }

    @include when(center) {
      justify-content: center;
    }

    @include when(right) {
      justify-content: flex-end;
    }
  }

  @include e(value) {
    white-space: normal;
    @include when(ellipsis) {
      word-break: break-all;
      @include multiEllipsis(2);
    }
  }
}
