:root,
page,
.wd-root-portal {
  --wot-n0: 0px;
  --wot-n05: 0.5px;
  --wot-n1: 1px;
  --wot-n2: 2px;
  --wot-n3: 3px;
  --wot-n4: 4px;
  --wot-n5: 5px;
  --wot-n6: 6px;
  --wot-n8: 8px;
  --wot-n9: 9px;
  --wot-n10: 10px;
  --wot-n11: 11px;
  --wot-n12: 12px;
  --wot-n14: 14px;
  --wot-n15: 15px;
  --wot-n16: 16px;
  --wot-n17: 17px;
  --wot-n18: 18px;
  --wot-n20: 20px;
  --wot-n22: 22px;
  --wot-n24: 24px;
  --wot-n26: 26px;
  --wot-n28: 28px;
  --wot-n32: 32px;
  --wot-n34: 34px;
  --wot-n36: 36px;
  --wot-n40: 40px;
  --wot-n48: 48px;
  --wot-n56: 56px;
  --wot-n60: 60px;
  --wot-n375: 375px;
  --wot-nFull: 9999px;
}