:root,
page,
.wd-root-portal {
  /* 圆角 */
  --wot-radius-zero: var(--wot-n0);
  --wot-radius-small: var(--wot-n2);
  --wot-radius-main: var(--wot-n4);
  --wot-radius-large: var(--wot-n8);
  --wot-radius-extra-large: var(--wot-n12);
  --wot-radius-super-large: var(--wot-n16);
  --wot-radius-ultra-large: var(--wot-n20);
  --wot-radius-radius-full: var(--wot-nFull);
}