:root,
page,
.wd-root-portal {
  /* title */
  --wot-typography-title-font-family: PingFang SC;
  --wot-typography-title-size-main: var(--wot-n18);
  --wot-typography-title-size-large: var(--wot-n20);
  --wot-typography-title-size-extra-large: var(--wot-n24);
  --wot-typography-title-font-weight-light: var(--wot-font-weight-regular);
  --wot-typography-title-font-weight-main: var(--wot-font-weight-medium);
  --wot-typography-title-font-weight-strong: var(--wot-font-weight-semibold);
  --wot-typography-title-line--height-size-main: var(--wot-n26);
  --wot-typography-title-line--height-size-large: var(--wot-n28);
  --wot-typography-title-line--height-size-extra-large: var(--wot-n34);
  /* body */
  --wot-typography-body-font-family: PingFang SC;
  --wot-typography-body-size-main: var(--wot-n14);
  --wot-typography-body-size-large: var(--wot-n15);
  --wot-typography-body-size-extra-large: var(--wot-n16);
  --wot-typography-body-size-super-large: var(--wot-n17);
  --wot-typography-body-size-ultra-large: var(--wot-n18);
  --wot-typography-body-font-weight-main: var(--wot-font-weight-regular);
  --wot-typography-body-font-weight-strong: var(--wot-font-weight-medium);
  --wot-typography-body-font-weight-extra-strong: var(--wot-font-weight-semibold);
  --wot-typography-body-line--height-size-main: var(--wot-n20);
  --wot-typography-body-line--height-size-large: var(--wot-n22);
  --wot-typography-body-line--height-size-extra-large: var(--wot-n24);
  --wot-typography-body-line--height-size-super-large: var(--wot-n24);
  --wot-typography-body-line--height-size-ultra-large: var(--wot-n26);
  /* label */
  --wot-typography-label-font-family: PingFang SC;
  --wot-typography-label-size-super-small: var(--wot-n9);
  --wot-typography-label-size-extra-small: var(--wot-n10);
  --wot-typography-label-size-small: var(--wot-n11);
  --wot-typography-label-size-main: var(--wot-n12);
  --wot-typography-label-size-large: var(--wot-n14);
  --wot-typography-label-font-weight-main: var(--wot-font-weight-regular);
  --wot-typography-label-font-weight-strong: var(--wot-font-weight-medium);
  --wot-typography-label-line--height-size-super-small: var(--wot-n14);
  --wot-typography-label-line--height-size-extra-small: var(--wot-n16);
  --wot-typography-label-line--height-size-small:  var(--wot-n16);
  --wot-typography-label-line--height-size-main: var(--wot-n18);
  --wot-typography-label-line--height-size-large: var(--wot-n18);
}