@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

// 遮罩层背景色
$overlay-bg: var(--wot-overlay-bg, $opac-7_55) !default;

@include b(overlay) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $overlay-bg;
}
