@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 预览背景色
$video-preview-bg: var(--wot-video-preview-bg, $opac-9_75) !default;
// 关闭图标尺寸
$video-preview-close-size: var(--wot-video-preview-close-size, $n24) !default;
// 关闭图标颜色
$video-preview-close-color: var(--wot-video-preview-close-color, $icon-white) !default;
// 关闭按钮外边距
$video-preview-close-margin: var(--wot-video-preview-close-margin, $spacing-extra-loose) !default;
// 视频预览区域高度
$video-preview-video-height: var(--wot-video-preview-video-height, $n248) !default;
// 预览层级
$video-preview-z-index: var(--wot-video-preview-z-index, 1000) !default;
// 关闭按钮层级
$video-preview-close-z-index: var(--wot-video-preview-close-z-index, 10) !default;

@include b(video-preview) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $video-preview-z-index;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $video-preview-bg;

  @include e(video) {
    width: 100%;
    height: $video-preview-video-height;
    transition: all 0.3s ease;
  }

  @include e(close) {
    position: absolute;
    z-index: $video-preview-close-z-index;
    display: flex;
    justify-content: center;
    align-items: center;
    top: $video-preview-close-margin;
    right: $video-preview-close-margin;
    cursor: pointer;
  }

  @include edeep(close-icon) {
    font-size: $video-preview-close-size;
    line-height: $video-preview-close-size;
    color: $video-preview-close-color;
  }
}
