@use '../styles/mixin/mixin.scss'as *;
@use '../styles/variable.scss'as *;

$action-sheet-bg: var(--wot-action-sheet-bg, $filled-bottom) !default;
$action-sheet-radius: var(--wot-action-sheet-radius, $radius-large) !default;
$action-sheet-action-bg: var(--wot-action-sheet-action-bg, $filled-oppo) !default;
$action-sheet-action-font-size: var(--wot-action-sheet-action-font-size, $typography-title-size-main) !default;
$action-sheet-action-line-height: var(--wot-action-sheet-action-line-height, $typography-title-line--height-size-main) !default;
$action-sheet-action-color: var(--wot-action-sheet-action-color, $text-main) !default;
$action-sheet-action-padding: var(--wot-action-sheet-action-padding, $padding-extra-loose $padding-loose) !default;
$action-sheet-cancel-bg: var(--wot-action-sheet-cancel-bg, $filled-oppo) !default;
$action-sheet-cancel-font-size: var(--wot-action-sheet-cancel-font-size, $typography-title-size-main) !default;
$action-sheet-cancel-line-height: var(--wot-action-sheet-cancel-line-height, $typography-title-line--height-size-main) !default;
$action-sheet-cancel-color: var(--wot-action-sheet-cancel-color, $text-main) !default;
$action-sheet-cancel-padding: var(--wot-action-sheet-cancel-padding, $padding-extra-loose $padding-loose) !default;
$action-sheet-cancel-margin-top: var(--wot-action-sheet-cancel-margin-top, $spacing-tight) !default;
$action-sheet-description-font-size: var(--wot-action-sheet-description-font-size, $typography-body-size-main) !default;
$action-sheet-description-line-height: var(--wot-action-sheet-description-line-height, $typography-body-line--height-size-main) !default;
$action-sheet-description-color: var(--wot-action-sheet-description-color, $text-auxiliary) !default;
$action-sheet-description-margin-top: var(--wot-action-sheet-description-margin-top, $spacing-tight) !default;
$action-sheet-panel-bg: var(--wot-action-sheet-panel-bg, $filled-oppo) !default;
$action-sheet-panels-wrap-padding: var(--wot-action-sheet-panels-wrap-padding, $padding-main 0) !default;
$action-sheet-panels-padding: var(--wot-action-sheet-panels-padding, 0 $padding-main) !default;
$action-sheet-panel-width: var(--wot-action-sheet-panel-width, $n88) !default;
$action-sheet-panel-padding: var(--wot-action-sheet-panel-padding, $padding-main 0) !default;
$action-sheet-panel-img-size: var(--wot-action-sheet-panel-img-size, $n24) !default;
$action-sheet-panel-img-spacing: var(--wot-action-sheet-panel-img-spacing, 0 auto $spacing-tight) !default;
$action-sheet-panel-img-radius: var(--wot-action-sheet-panel-img-radius, $radius-main) !default;
$action-sheet-panel-title-font-size: var(--wot-action-sheet-panel-title-font-size, $typography-label-size-main) !default;
$action-sheet-panel-title-line-height: var(--wot-action-sheet-panel-title-line-height, $typography-label-line--height-size-main) !default;
$action-sheet-panel-title-color: var(--wot-action-sheet-panel-title-color, $text-auxiliary) !default;
$action-sheet-title-color: var(--wot-action-sheet-title-color, $text-main) !default;
$action-sheet-title-height: var(--wot-action-sheet-title-height, $n56) !default;
$action-sheet-title-font-size: var(--wot-action-sheet-title-font-size, $typography-title-size-main) !default;
$action-sheet-title-line-height: var(--wot-action-sheet-title-line-height, $typography-title-line--height-size-main) !default;
$action-sheet-title-font-weight: var(--wot-action-sheet-title-font-weight, $font-weight-medium) !default;
$action-sheet-close-right: var(--wot-action-sheet-close-right, $spacing-loose) !default;
$action-sheet-close-color: var(--wot-action-sheet-close-color, $icon-secondary) !default;
$action-sheet-close-font-size: var(--wot-action-sheet-close-font-size, $n24) !default;
$action-sheet-active-bg: var(--wot-action-sheet-active-bg, $filled-content) !default;
$action-sheet-disabled-color: var(--wot-action-sheet-disabled-color, $text-disabled) !default;
$action-sheet-loading-size: var(--wot-action-sheet-loading-size, $n20) !default;

:deep(.wd-action-sheet-popup) {
  border-radius: $action-sheet-radius $action-sheet-radius 0 0;
}

@include b(action-sheet) {
  background: $action-sheet-bg;
  border-radius: $action-sheet-radius $action-sheet-radius 0 0;

  @include e(actions) {
    max-height: 50vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  @include e(action) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $action-sheet-action-font-size;
    line-height: $action-sheet-action-line-height;
    color: $action-sheet-action-color;
    background: $action-sheet-action-bg;
    padding: $action-sheet-action-padding;
    box-sizing: border-box;

    @include pixelBorder;

    &:not(&--disabled):not(&--loading):active {
      background: $action-sheet-active-bg;
    }

    @include m(disabled) {
      color: $action-sheet-disabled-color;
      cursor: not-allowed;
    }

    @include m(loading) {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: initial;
    }
  }

  @include edeep(action-loading) {
    width: $action-sheet-loading-size;
    height: $action-sheet-loading-size;
  }

  @include e(description) {
    margin-top: $action-sheet-description-margin-top;
    font-size: $action-sheet-description-font-size;
    line-height: $action-sheet-description-line-height;
    color: $action-sheet-description-color;
  }

  @include e(cancel) {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: $action-sheet-cancel-margin-top;
    background: $action-sheet-cancel-bg;
    color: $action-sheet-cancel-color;
    font-size: $action-sheet-cancel-font-size;
    line-height: $action-sheet-cancel-line-height;
    padding: $action-sheet-cancel-padding;

    &:active {
      background: $action-sheet-active-bg;
    }
  }

  @include e(title) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $action-sheet-title-color;
    height: $action-sheet-title-height;
    font-size: $action-sheet-title-font-size;
    font-weight: $action-sheet-title-font-weight;
    line-height: $action-sheet-title-line-height;
  }

  @include edeep(close) {
    position: absolute;
    top: 50%;
    right: $action-sheet-close-right;
    color: $action-sheet-close-color;
    font-size: $action-sheet-close-font-size;
    transform: translateY(-50%);
  }


  @include e(panels-wrap) {
    padding: $action-sheet-panels-wrap-padding;
    background: $action-sheet-panel-bg;
  }

  @include e(panels) {
    padding: $action-sheet-panels-padding;
  }


  @include e(panels-content) {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  @include e(panel) {
    width: $action-sheet-panel-width;
    flex: 0 0 auto;
    padding: $action-sheet-panel-padding;
  }

  @include e(panel-img) {
    display: block;
    font-size: $action-sheet-panel-img-size;
    width: $action-sheet-panel-img-size;
    height: $action-sheet-panel-img-size;
    margin: $action-sheet-panel-img-spacing;
    border-radius: $action-sheet-panel-img-radius;
  }

  @include e(panel-title) {
    font-size: $action-sheet-panel-title-font-size;
    line-height: $action-sheet-panel-title-line-height;
    color: $action-sheet-panel-title-color;
    text-align: center;

    @include lineEllipsis;
  }
}