@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;
// 激活态颜色（文字和图标）
$tabbar-item-color-active: var(--wot-tabbar-item-color-active, $primary-6) !default;
// 非激活态颜色（文字和图标）
$tabbar-item-color-inactive: var(--wot-tabbar-item-color-inactive, $text-main) !default;
// 标题文字大小
$tabbar-item-title-font-size: var(--wot-tabbar-item-title-font-size, $typography-label-size-extra-small) !default;
// 标题文字行高
$tabbar-item-title-line-height: var(--wot-tabbar-item-title-line-height, $typography-label-line--height-size-extra-small) !default;
// 图标大小
$tabbar-item-icon-size: var(--wot-tabbar-item-icon-size, $n24) !default;

@include b(tabbar-item) {
  flex: 1;
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include e(body) {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    padding: 0;
    position: relative;

    :deep() {
      @include when(active) {
        color: $tabbar-item-color-active;
      }

      @include when(inactive) {
        color: $tabbar-item-color-inactive;
      }
    }
  }

  @include e(body-title) {
    font-size: $tabbar-item-title-font-size;
    line-height: $tabbar-item-title-line-height;
  }

  @include edeep(body-icon) {
    font-size: $tabbar-item-icon-size;
  }
}