@use '../../styles/mixin/mixin.scss' as *;
@use '../../styles/variable.scss' as *;


// 菜单项高度
$drop-menu-height: var(--wot-drop-menu-height, $n-48) !default;
// 菜单列表背景色
$drop-menu-list-bg: var(--wot-drop-menu-list-bg, $filled-oppo) !default;
// 菜单项内边距
$drop-menu-option-padding: var(--wot-drop-menu-option-padding, $padding-loose) !default;
// 菜单项禁用态透明度
$drop-menu-option-opacity-disabled: var(--wot-drop-menu-option-opacity-disabled, $opacity-disabled) !default;
// 菜单项水平内边距
$drop-menu-option-padding-horizontal: var(--wot-drop-menu-option-padding-horizontal, $padding-extra-loose) !default;
// 箭头图标大小
$drop-menu-arrow-size: var(--wot-drop-menu-arrow-size, $n-16) !default;
// 箭头图标颜色
$drop-menu-arrow-color: var(--wot-drop-menu-arrow-color, $icon-auxiliary) !default;
// 箭头图标激活态颜色
$drop-menu-arrow-color-active: var(--wot-drop-menu-arrow-color-active, $primary-6) !default;
// 箭头图标间距
$drop-menu-arrow-spacing: var(--wot-drop-menu-arrow-spacing, $spacing-super-tight) !default;
// 菜单文字颜色
$drop-menu-text-color: var(--wot-drop-menu-text-color, $text-main) !default;
// 菜单文字字号
$drop-menu-text-font-size: var(--wot-drop-menu-text-font-size, $typography-body-size-extra-large) !default;
// 菜单文字行高
$drop-menu-text-line-height: var(--wot-drop-menu-text-line-height, $typography-body-line-height-size-extra-large) !default;
// 菜单激活态字重
$drop-menu-text-font-weight-active: var(--wot-drop-menu-text-font-weight-active, $font-weight-medium) !default;
// 菜单激活态文字颜色
$drop-menu-text-color-active: var(--wot-drop-menu-text-color-active, $primary-6) !default;

@include b(drop-menu) {
  position: relative;

  @include e(list) {
    display: flex;
    text-align: center;
    background-color: $drop-menu-list-bg;
  }

  @include e(option) {
    position: relative;
    flex: 1;
    min-width: 0;
    height: $drop-menu-height;
    padding: $drop-menu-option-padding;
    box-sizing: border-box;
    text-align: center;

    @include when(active) {
      .wd-drop-menu__option-title-text {
        font-weight: $drop-menu-text-font-weight-active;
        color: $drop-menu-text-color-active;
      }

      :deep(.wd-drop-menu__arrow) {
        transform: rotate(-180deg);
        transform-origin: center center;
        color: $drop-menu-arrow-color-active;
      }
    }

    @include when(disabled) {
      opacity: $drop-menu-option-opacity-disabled;
    }

  }

  @include e(option-title) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  @include e(option-title-text) {
    color: $drop-menu-text-color;
    font-size: $drop-menu-text-font-size;
    line-height: $drop-menu-text-line-height;
    @include lineEllipsis;
  }

  @include edeep(arrow) {
    font-size: $drop-menu-arrow-size;
    color: $drop-menu-arrow-color;
    margin-left: $drop-menu-arrow-spacing;
  }
}
