@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 文案与图标间距
$radio-label-margin: var(--wot-radio-label-margin, $spacing-tight) !default;
// 选中颜色
$radio-checked-color: var(--wot-radio-checked-color, $primary-6) !default;
// 图标尺寸
$radio-icon-size: var(--wot-radio-icon-size, $n-22) !default;
// 未选中图标颜色
$radio-unchecked-color: var(--wot-radio-unchecked-color, $coolgrey-3) !default;
// 文案字号
$radio-label-font-size: var(--wot-radio-label-font-size, $typography-body-size-main) !default;
// 文案颜色
$radio-label-color: var(--wot-radio-label-color, $text-main) !default;
// 文案行高
$radio-label-line-height: var(--wot-radio-label-line-height, $typography-body-line-height-size-main) !default;
// 禁用态透明度
$radio-disabled: var(--wot-radio-disabled, $opacity-disabled) !default;
// 水平模式间距
$radio-horizontal-margin: var(--wot-radio-horizontal-margin, $spacing-zero $spacing-extra-loose $spacing-zero $spacing-zero) !default;
// 按钮模式项间距
$radio-button-margin: var(--wot-radio-button-margin, $spacing-zero $spacing-extra-loose $spacing-extra-loose $spacing-zero) !default;
// 按钮模式边框宽度
$radio-button-border-width: var(--wot-radio-button-border-width, $n-1) !default;
// 按钮模式标记圆角
$radio-button-shape-border-radius: var(--wot-radio-button-shape-border-radius, $radius-full) !default;
// 按钮模式标记尺寸
$radio-button-shape-size: var(--wot-radio-button-shape-size, $n-26) !default;
// 按钮模式字号
$radio-button-font-size: var(--wot-radio-button-font-size, $typography-body-size-main) !default;
// 按钮模式行高
$radio-button-line-height: var(--wot-radio-button-line-height, $typography-body-line-height-size-main) !default;
// 按钮模式背景色
$radio-button-bg: var(--wot-radio-button-bg, $filled-bottom) !default;
// 按钮模式选中背景色
$radio-button-checked-bg: var(--wot-radio-button-checked-bg, $filled-oppo) !default;
// 按钮模式图标尺寸
$radio-button-icon-size: var(--wot-radio-button-icon-size, $n-10) !default;
// 按钮模式最小宽度
$radio-button-min-width: var(--wot-radio-button-min-width, 74px) !default;
// 按钮模式最大宽度
$radio-button-max-width: var(--wot-radio-button-max-width, 148px) !default;
// 按钮模式圆角
$radio-button-border-radius: var(--wot-radio-button-border-radius, $radius-main) !default;
// 按钮模式内边距
$radio-button-padding: var(--wot-radio-button-padding, $padding-extra-tight $padding-extra-loose) !default;
// 按钮模式图标颜色
$radio-button-icon-color: var(--wot-radio-button-icon-color, $icon-white) !default;
// 按钮模式标记顶部偏移
$radio-button-shape-top: var(--wot-radio-button-shape-top, calc(-1 * #{$n-11})) !default;
// 按钮模式标记左侧偏移
$radio-button-shape-left: var(--wot-radio-button-shape-left, calc(-1 * #{$n-9})) !default;
// 按钮模式标记右侧偏移
$radio-button-shape-right: var(--wot-radio-button-shape-right, calc(-1 * #{$n-9})) !default;
// 按钮模式图标顶部偏移
$radio-button-icon-top: var(--wot-radio-button-icon-top, calc(13 * #{$n-1})) !default;
// 按钮模式图标右侧偏移
$radio-button-icon-right: var(--wot-radio-button-icon-right, $n-4) !default;
// 按钮模式图标左侧偏移
$radio-button-icon-left: var(--wot-radio-button-icon-left, $n-4) !default;

@include b(radio) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include m(horizontal) {
    display: inline-flex;
    justify-content: flex-start;
    vertical-align: middle;

    &:not(:last-child) {
      margin: $radio-horizontal-margin;
    }
  }

  @include m(right) {
    .wd-radio__label {
      margin-right: $radio-label-margin;
    }
  }

  @include m(left) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .wd-radio__label {
      margin-left: $radio-label-margin;
    }
  }

  @include edeep(icon) {
    font-size: $radio-icon-size;
    height: $radio-icon-size;
    line-height: $radio-icon-size;
    color: $radio-unchecked-color;
    transition: all 0.2s;
  }

  @include e(label) {
    font-size: $radio-label-font-size;
    color: $radio-label-color;
    line-height: $radio-label-line-height;
    text-align: center;
    word-break: break-all;
  }

  @include e(shape) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include when(checked) {
    :deep(.wd-radio__icon) {
      color: $radio-checked-color;
    }
  }

  @include when(button) {
    display: inline-block;
    min-width: $radio-button-min-width;
    max-width: $radio-button-max-width;
    margin: $radio-button-margin;
    border-radius: $radio-button-border-radius;
    background: $radio-button-bg;
    font-size: $radio-button-font-size;
    box-sizing: border-box;
    border: $radio-button-border-width solid $radio-button-bg;

    .wd-radio__label {
      position: relative;
      padding: $radio-button-padding;
      margin: auto;
      @include lineEllipsis;
    }

    .wd-radio__shape {
      position: absolute;
      top: $radio-button-shape-top;
      left: $radio-button-shape-left;
      width: $radio-button-shape-size;
      height: $radio-button-shape-size;
      border-radius: $radio-button-shape-border-radius;
      background: transparent;
    }

    :deep(.wd-radio__icon) {
      position: absolute;
      top: $radio-button-icon-top;
      right: $radio-button-icon-right;
      font-size: $radio-button-icon-size;
      line-height: $radio-button-icon-size;
      height: $radio-button-icon-size;
      color: $radio-button-icon-color;
    }

    &.wd-radio--right {
      .wd-radio__shape {
        left: auto;
        right: $radio-button-shape-right;
      }

      :deep(.wd-radio__icon) {
        right: auto;
        left: $radio-button-icon-left;
      }
    }

    @include when(checked) {
      color: $radio-checked-color;
      border-color: currentColor;
      background: $radio-button-checked-bg;

      .wd-radio__shape {
        color: $radio-checked-color;
        background: currentColor;
      }
    }
  }

  @include when(disabled) {
    opacity: $radio-disabled;
  }
}
