@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 进度条底色
$progress-bg: var(--wot-progress-bg, $filled-content) !default;
// danger 进度色
$progress-danger-color: var(--wot-progress-danger-color, $danger-main) !default;
// success 进度色
$progress-success-color: var(--wot-progress-success-color, $success-main) !default;
// warning 进度色
$progress-warning-color: var(--wot-progress-warning-color, $warning-main) !default;
// 默认进度色
$progress-color: var(--wot-progress-color, $primary-6) !default;
// 外部文案模式进度条高度
$progress-bar-height: var(--wot-progress-bar-height, $n8) !default;
// 内部文案模式组件高度
$progress-height: var(--wot-progress-height, $n18) !default;
// 外部文案颜色
$progress-label-color: var(--wot-progress-label-color, $text-main) !default;
// 外部文案宽度
$progress-label-width: var(--wot-progress-label-width, $n34) !default;
// 外部文案左侧间距
$progress-label-margin-left: var(--wot-progress-label-margin-left, $spacing-tight) !default;
// 内部文案颜色
$progress-inner-label-color: var(--wot-progress-inner-label-color, $text-white) !default;
// 内部 zero 态背景色
$progress-inner-zero-bg: var(--wot-progress-inner-zero-bg, $primary-2) !default;
// 内部 zero 态文字颜色
$progress-inner-zero-color: var(--wot-progress-inner-zero-color, $text-secondary) !default;
// 内部文案内边距
$progress-inner-padding: var(--wot-progress-inner-padding, $padding-zero $padding-tight) !default;
// 文案字号
$progress-label-font-size: var(--wot-progress-label-font-size, $typography-label-size-large) !default;
// 文案行高
$progress-label-line-height: var(--wot-progress-label-line-height, $typography-label-line--height-size-large) !default;
// 图标字号
$progress-icon-size: var(--wot-progress-icon-size, $n18) !default;
// 进度条圆角
$progress-radius: var(--wot-progress-radius, $radius-radius-full) !default;

@include b(progress) {
  width: 100%;
  display: flex;
  align-items: center;
  height: $progress-height;

  @include e(outer) {
    display: block;
    position: relative;
    flex: 1;
    background: $progress-bg;
    overflow: hidden;
    height: $progress-bar-height;
    border-radius: $progress-radius;
  }

  @include e(inner) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: inherit;
    background: $progress-color;
    transition-property: width;
    transition-timing-function: linear;
    font-size: $progress-icon-size;
    display: flex;
    align-items: center;
    min-width: max-content;
  }

  @include edeep(label) {
    color: $progress-label-color;
    font-size: $progress-label-font-size;
    line-height: $progress-label-line-height;
    width: $progress-label-width;
    margin-left: $progress-label-margin-left;

    @include when(hide-text){
      width: auto;
    }
  }

  @include edeep(icon) {
    font-size: $progress-icon-size;
  }

  @include m(danger) {
    @include me(inner) {
      background: $progress-danger-color;
    }
    @include me(icon) {
      color: $progress-danger-color;
    }
  }

  @include m(success) {
    @include me(inner) {
      background: $progress-success-color;
    }
    @include me(icon) {
      color: $progress-success-color;
    }
  }

  @include m(warning) {
    @include me(inner) {
      background: $progress-warning-color;
    }
    @include me(icon) {
      color: $progress-warning-color;
    }
  }

  @include m(inner) {
    @include me(outer) {
      height: 100%;
      border-radius: $progress-radius;
    }

    @include me(label) {
      width: auto;
      margin-left: 0;
      color: $progress-inner-label-color;
      padding: $progress-inner-padding;
      white-space: nowrap;

      @include when(align-left) {
        margin-right: auto;
      }
      @include when(align-center) {
        margin: 0 auto;
      }
      @include when(align-right) {
        margin-left: auto;
      }
    }

    @include me(icon) {
      color: $progress-inner-label-color !important;
    }

    @include when(zero) {
      @include me(inner) {
        background: $progress-inner-zero-bg;
      }
      @include me(label) {
        color: $progress-inner-zero-color !important;
      }
      @include me(icon) {
        color: $progress-inner-zero-color !important;
      }
    }
  }
}
