@use '../../styles/mixin/mixin.scss'as *;
@use '../../styles/variable.scss'as *;

// 徽标高度
$badge-height: var(--wot-badge-height, $n-16) !default;
// 徽标最小宽度
$badge-min-width: var(--wot-badge-min-width, $n-16) !default;
// 徽标内边距
$badge-padding: var(--wot-badge-padding, $padding-zero $padding-super-tight) !default;
// 危险类型背景色
$badge-danger-bg: var(--wot-badge-danger-bg, $danger-main) !default;
// 成功类型背景色
$badge-success-bg: var(--wot-badge-success-bg, $success-main) !default;
// 警告类型背景色
$badge-warning-bg: var(--wot-badge-warning-bg, $warning-main) !default;
// 信息类型背景色
$badge-info-bg: var(--wot-badge-info-bg, $filled-content) !default;
// 主类型背景色
$badge-primary-bg: var(--wot-badge-primary-bg, $primary-6) !default;
// 徽标文本颜色
$badge-color: var(--wot-badge-color, $text-white) !default;
// 信息类型文本颜色
$badge-info-color: var(--wot-badge-info-color, $text-secondary) !default;
// 徽标文本字号
$badge-font-size: var(--wot-badge-font-size, $typography-label-size-extra-small) !default;
// 徽标文本行高
$badge-line-height: var(--wot-badge-line-height, $typography-label-line-height-size-extra-small) !default;
// 默认圆角
$badge-border-radius: var(--wot-badge-border-radius, $radius-full) !default;
// 方形圆角
$badge-square-border-radius: var(--wot-badge-square-border-radius, $radius-main) !default;
// 气泡圆角
$badge-bubble-border-radius: var(--wot-badge-bubble-border-radius, $radius-large $radius-large $radius-large $radius-zero) !default;
// 圆点尺寸
$badge-dot-size: var(--wot-badge-dot-size, $n-6) !default;
// 徽标文本字重
$badge-font-weight: var(--wot-badge-font-weight, $font-weight-medium) !default;
// 固定定位偏移
$badge-transform: var(--wot-badge-transform, translateY(-50%) translateX(50%)) !default;
// 徽标边框颜色
$badge-border-color: var(--wot-badge-border-color, $border-white) !default;

@include b(badge) {
  position: relative;
  vertical-align: middle;
  display: inline-block;

  @include e(content) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: $badge-height;
    padding: $badge-padding;
    background: $badge-danger-bg;
    border-radius: $badge-border-radius;
    color: $badge-color;
    font-size: $badge-font-size;
    line-height: $badge-line-height;
    font-weight: $badge-font-weight;
    min-width: $badge-min-width;

    @include when(dot) {
      height: $badge-dot-size;
      width: $badge-dot-size;
      min-width: $badge-dot-size;
      padding: 0;
      border-radius: $badge-border-radius;
    }

    @include when(square) {
      border-radius: $badge-square-border-radius;
    }

    @include when(bubble) {
      border-radius: $badge-bubble-border-radius;
    }

    @include when(border) {
      @include pixelBorderSurround($badge-border-color);
    }

    @include when(fixed) {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      transform: $badge-transform;
    }

    @each $type in (primary, success, warning, info, danger) {
      @include m($type) {
        @if $type==primary {
          background: $badge-primary-bg;
        }

        @else if $type==success {
          background: $badge-success-bg;
        }

        @else if $type==warning {
          background: $badge-warning-bg;
        }

        @else if $type==info {
          background: $badge-info-bg;
          color: $badge-info-color;
        }

        @else {
          background: $badge-danger-bg;
        }
      }
    }
  }
}
