@use '../../styles/mixin/mixin.scss' as *;
@use '../../styles/variable.scss' as *;

// 侧边栏宽度
$sidebar-width: var(--wot-sidebar-width, 114px) !default;
// 侧边栏高度
$sidebar-height: var(--wot-sidebar-height, 100%) !default;
// 侧边栏背景色
$sidebar-bg: var(--wot-sidebar-bg, $filled-oppo) !default;
// 内容区背景色
$sidebar-padding-bg: var(--wot-sidebar-padding-bg, $filled-oppo) !default;

@include b(sidebar) {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: $sidebar-width;
  height: $sidebar-height;
  background: $sidebar-bg;

  @include e(padding) {
    flex: 1 1 auto;
    background: $sidebar-padding-bg;
  }
}