@use '../../styles/variable.scss' as *;
@use '../../styles/mixin/mixin.scss' as *;

// 错误提示文字颜色
$form-item-error-message-color: var(--wot-form-item-error-message-color, $danger-main) !default;
// 错误提示文字字号
$form-item-error-message-font-size: var(--wot-form-item-error-message-font-size, $typography-label-size-main) !default;
// 错误提示文字行高
$form-item-error-message-line-height: var(--wot-form-item-error-message-line-height, $typography-label-line--height-size-small) !default;
// 错误提示顶部外边距
$form-item-error-message-margin-top: var(--wot-form-item-error-message-margin-top, $spacing-super-tight) !default;
// 占位符文字颜色
$form-item-placeholder-color: var(--wot-form-item-placeholder-color, $text-placeholder) !default;

@include b(form-item) {
  @include e(placeholder) {
    color: $form-item-placeholder-color;
  }

  @include e(error-message) {
    color: $form-item-error-message-color;
    font-size: $form-item-error-message-font-size;
    line-height: $form-item-error-message-line-height;
    margin-top: $form-item-error-message-margin-top;
  }
}
