@use '../../styles/mixin/mixin' as *;
@use '../../styles/variable.scss' as *;

// 默认文字颜色
$divider-color-default: var(--wot-divider-color-default, $text-auxiliary) !default;
// 分割线颜色
$divider-color-line: var(--wot-divider-color-line, $border-main) !default;
// 组件水平内边距
$divider-padding: var(--wot-divider-padding, $padding-zero $padding-extra-loose) !default;
// 组件垂直外边距
$divider-margin: var(--wot-divider-margin, $spacing-extra-loose $spacing-zero) !default;
// 分割线厚度
$divider-line-height: var(--wot-divider-line-height, $n-3) !default;
// 内容文字行高
$divider-size-line-height: var(--wot-divider-size-line-height, $typography-body-line--height-size-main) !default;
// 纵向分割线高度
$divider-size-vertical-height: var(--wot-divider-size-vertical-height, $spacing-extra-loose) !default;
// 纵向分割线宽度
$divider-size-vertical-line-width: var(--wot-divider-size-vertical-line-width,  $n-3) !default;
// 左对齐模式左侧线段宽度
$divider-size-content-left-width: var(--wot-divider-size-content-left-width, 10%) !default;
// 右对齐模式右侧线段宽度
$divider-size-content-right-width: var(--wot-divider-size-content-right-width, 10%) !default;
// 默认文字字号
$divider-font-size-default: var(--wot-divider-font-size-default, $typography-body-size-main) !default;
// 默认外边距
$divider-margin-default: var(--wot-divider-margin-default, $spacing-extra-loose) !default;
// 纵向模式内容间距
$divider-margin-vertical-content: var(--wot-divider-margin-vertical-content, $spacing-tight) !default;
// 内容左侧间距
$divider-margin-content-left: var(--wot-divider-margin-content-left, $spacing-loose) !default;
// 内容右侧间距
$divider-margin-content-right: var(--wot-divider-margin-content-right, $spacing-loose) !default;
// 默认内边距
$divider-padding-default: var(--wot-divider-padding-default, $spacing-zero) !default;

@include b(divider) {
  position: relative;
  display: flex;
  padding: $divider-padding;
  margin: $divider-margin;
  align-items: center;
  color: $divider-color-default;
  font-size: $divider-font-size-default;

  &::after,
  &::before {
    flex: 1;
    display: block;
    box-sizing: border-box;
    border-style: solid;
    border-color: $divider-color-line;
    border-width: $divider-line-height 0 0;
  }

  &::before {
    content: '';
  }

  @include m(center, left, right) {
    &::after {
      content: '';
      margin-left: $divider-margin-content-left;
    }

    &::before {
      margin-right: $divider-margin-content-right;
    }
  }

  @include m(left) {
    &::before {
      max-width: $divider-size-content-left-width;
    }
  }

  @include m(right) {
    &::after {
      max-width: $divider-size-content-right-width;
    }
  }

  @include when(hairline) {

    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  @include when(dashed) {

    &::before,
    &::after {
      border-style: dashed;
    }
  }

  @include m(vertical) {
    display: inline-block;
    width: $divider-size-vertical-line-width;
    height: $divider-size-vertical-height;
    margin: $spacing-zero $divider-margin-vertical-content;
    padding: $padding-zero;
    vertical-align: middle;

    &::before {
      height: 100%;
      border-width: 0 0 0 $divider-size-vertical-line-width;
    }

    &::after {
      display: none;
    }

    @include when(hairline) {
      &::before {
        transform: scaleX(0.5);
      }
    }
  }
}
