@mixin light-theme-vars {
  /* 浅色模式颜色语义变量 */
  /* 主色 */
  --wot-primary-1: var(--wot-blue-1);
  --wot-primary-2: var(--wot-blue-2);
  --wot-primary-3: var(--wot-blue-3);
  --wot-primary-4: var(--wot-blue-4);
  --wot-primary-5: var(--wot-blue-5);
  --wot-primary-6: var(--wot-blue-6);
  --wot-primary-7: var(--wot-blue-7);
  --wot-primary-8: var(--wot-blue-8);
  --wot-primary-9: var(--wot-blue-9);
  --wot-primary-10: var(--wot-blue-10);
  /* 危险色 */
  --wot-danger-main: var(--wot-red-6);
  --wot-danger-hover: var(--wot-red-5);
  --wot-danger-clicked: var(--wot-red-7);
  --wot-danger-disabled: var(--wot-red-3);
  --wot-danger-particular: var(--wot-red-2);
  --wot-danger-surface: var(--wot-red-1);
  /* 成功色 */
  --wot-success-main: var(--wot-green-6);
  --wot-success-hover: var(--wot-green-5);
  --wot-success-clicked: var(--wot-green-7);
  --wot-success-disabled: var(--wot-green-3);
  --wot-success-particular: var(--wot-green-2);
  --wot-success-surface: var(--wot-green-1);
  /* 警告色 */
  --wot-warning-main: var(--wot-orange-6);
  --wot-warning-hover: var(--wot-orange-5);
  --wot-warning-clicked: var(--wot-orange-7);
  --wot-warning-disabled: var(--wot-orange-3);
  --wot-warning-particular: var(--wot-orange-2);
  --wot-warning-surface: var(--wot-orange-1);
  /* 中性色 */
  /* 文字 */
  --wot-text-main: var(--wot-coolgrey-10);
  --wot-text-secondary: var(--wot-coolgrey-8);
  --wot-text-auxiliary: var(--wot-coolgrey-6);
  --wot-text-disabled: var(--wot-coolgrey-4);
  --wot-text-placeholder: var(--wot-coolgrey-5);
  --wot-text-white: var(--wot-base-white);
  /* 图标 */
  --wot-icon-main: var(--wot-coolgrey-10);
  --wot-icon-secondary: var(--wot-coolgrey-8);
  --wot-icon-auxiliary: var(--wot-coolgrey-6);
  --wot-icon-disabled: var(--wot-coolgrey-4);
  --wot-icon-placeholder: var(--wot-coolgrey-5);
  --wot-icon-white: var(--wot-base-white);
  /* 边框 */
  --wot-border-extra-Strong: var(--wot-coolgrey-6);
  --wot-border-Strong: var(--wot-coolgrey-4);
  --wot-border-main: var(--wot-coolgrey-3);
  --wot-border-light: var(--wot-coolgrey-2);
  --wot-border-white: var(--wot-base-white);
  --wot-border-zero: var(--wot-base-transparent);
  /* 填充 */
  --wot-filled-extra-strong: var(--wot-coolgrey-4);
  --wot-filled-strong: var(--wot-coolgrey-3);
  --wot-filled-content: var(--wot-coolgrey-2);
  --wot-filled-bottom: var(--wot-coolgrey-1);
  --wot-filled-oppo: var(--wot-base-white);
  --wot-filled-zero: var(--wot-base-transparent);
  /* 分割线 */
  --wot-divider-main: var(--wot-opac-3_08);
  --wot-divider-light: var(--wot-opac-2_04);
  --wot-divider-strong: var(--wot-opac-4_15);
  --wot-divider-white: var(--wot-base-white);
  /* 反馈 */
  --wot-feedback-hover: var(--wot-opac-2_04);
  --wot-feedback-active: var(--wot-opac-3_08);
  --wot-feedback-accent: var(--wot-blue-opac);
  /* 填充色-透明度 */
  --wot-opacfilled-tooltip-toast-cover: var(--wot-opac-9_75);
  --wot-opacfilled-main-cover: var(--wot-opac-7_55);
  --wot-opacfilled-light-cover: var(--wot-opac-6_30);
  /* Picker View Mask */
  --wot-picker-view-mask-start-color: var(--wot-opacwhite-10_85);
  --wot-picker-view-mask-end-color: var(--wot-opacwhite-5_20);
  /* 分类色 */
  /* 黄色 */
  --wot-classifyapplication-Yellow-background: var(--wot-yellow-1);
  --wot-classifyapplication-Yellow-border: var(--wot-yellow-3);
  --wot-classifyapplication-Yellow-content: var(--wot-yellow-6);
  /* 蓝色 */
  --wot-classifyapplication-Cyan-background: var(--wot-cyan-1);
  --wot-classifyapplication-Cyan-border: var(--wot-cyan-3);
  --wot-classifyapplication-Cyan-content: var(--wot-cyan-6);
  /* 紫色 */
  --wot-classifyapplication-Purple-background: var(--wot-purple-1);
  --wot-classifyapplication-Purple-border: var(--wot-purple-3);
  --wot-classifyapplication-Purple-content: var(--wot-purple-6);
  /* 靛色 */
  --wot-classifyapplication-Grape-background: var(--wot-grape-1);
  --wot-classifyapplication-Grape-border: var(--wot-grape-3);
  --wot-classifyapplication-Grape-content: var(--wot-grape-6);
  /* 粉色 */
  --wot-classifyapplication-Pink-background: var(--wot-pink-1);
  --wot-classifyapplication-Pink-border: var(--wot-pink-3);
  --wot-classifyapplication-Pink-content: var(--wot-pink-6);
}

page,
.wd-root-portal {
  @include light-theme-vars;
}