:root,
page,
.wd-root-portal {
  /* 字重 */
  --wot-font-weight-ultra-light: 100;
  --wot-font-weight-thin: 200;
  --wot-font-weight-light: 300;
  --wot-font-weight-regular: 400;
  --wot-font-weight-medium: 600;
  --wot-font-weight-semibold: 700;
}

 