:root,
page,
.wd-root-portal {
  --wot-spacing-zero: var(--wot-number-n0);
  --wot-padding-zero: var(--wot-number-n0);
  --wot-padding-ultra-tight: var(--wot-number-n2);
  --wot-padding-super-tight: var(--wot-number-n4);
  --wot-padding-extra-tight: var(--wot-number-n6);
  --wot-padding-tight: var(--wot-number-n8);
  --wot-padding-main: var(--wot-number-n10);
  --wot-padding-loose: var(--wot-number-n12);
  --wot-padding-extra-loose: var(--wot-number-n16);
  --wot-padding-super-loose: var(--wot-number-n20);
  --wot-padding-ultra-loose: var(--wot-number-n24);
  --wot-padding-spacious: var(--wot-number-n28);
  --wot-padding-extra-spacious: var(--wot-number-n32);
  --wot-padding-super-spacious: var(--wot-number-n40);
  --wot-padding-ultra-spacious: var(--wot-number-n48);
  --wot-spacing-ultra-tight: var(--wot-number-n2);
  --wot-spacing-super-tight: var(--wot-number-n4);
  --wot-spacing-extra-tight: var(--wot-number-n6);
  --wot-spacing-tight: var(--wot-number-n8);
  --wot-spacing-main: var(--wot-number-n10);
  --wot-spacing-loose: var(--wot-number-n12);
  --wot-spacing-extra-loose: var(--wot-number-n16);
  --wot-spacing-super-loose: var(--wot-number-n20);
  --wot-spacing-ultra-loose: var(--wot-number-n24);
  --wot-spacing-spacious: var(--wot-number-n28);
  --wot-spacing-extra-spacious: var(--wot-number-n32);
  --wot-spacing-super-spacious: var(--wot-number-n40);
  --wot-spacing-ultra-spacious: var(--wot-number-n48);
}