:root,
page,
.wd-root-portal {
  --wot-n-0: 0px;
  --wot-n-05: 0.5px;
  --wot-n-1: 1px;
  --wot-n-2: 2px;
  --wot-n-3: 3px;
  --wot-n-4: 4px;
  --wot-n-5: 5px;
  --wot-n-6: 6px;
  --wot-n-8: 8px;
  --wot-n-9: 9px;
  --wot-n-10: 10px;
  --wot-n-11: 11px;
  --wot-n-12: 12px;
  --wot-n-14: 14px;
  --wot-n-15: 15px;
  --wot-n-16: 16px;
  --wot-n-17: 17px;
  --wot-n-18: 18px;
  --wot-n-20: 20px;
  --wot-n-22: 22px;
  --wot-n-24: 24px;
  --wot-n-26: 26px;
  --wot-n-28: 28px;
  --wot-n-32: 32px;
  --wot-n-34: 34px;
  --wot-n-36: 36px;
  --wot-n-40: 40px;
  --wot-n-48: 48px;
  --wot-n-56: 56px;
  --wot-n-60: 60px;
  --wot-n-375: 375px;
  --wot-nFull: 9999px;
}