:root,
page,
.wd-root-portal {
  /* 边框线系列 */
  --wot-stroke-light: var(--wot-number-n05);
  --wot-stroke-zero: var(--wot-number-n0);
  --wot-stroke-main: var(--wot-number-n1);
  --wot-stroke-blod: var(--wot-number-n2);
}