@use '../../styles/mixin/mixin.scss' as *;
@use '../../styles/variable.scss' as *;

// 胶囊宽度
$navbar-capsule-width: var(--wot-navbar-capsule-width, $n-88) !default;
// 胶囊高度
$navbar-capsule-height: var(--wot-navbar-capsule-height, $n-32) !default;
// 胶囊边框颜色
$navbar-capsule-border-color: var(--wot-navbar-capsule-border-color, $border-light) !default;
// 胶囊圆角
$navbar-capsule-radius: var(--wot-navbar-capsule-radius, $radius-super-large) !default;
// 胶囊图标大小
$navbar-capsule-icon-size: var(--wot-navbar-capsule-icon-size, $n-20) !default;
// 胶囊图标颜色
$navbar-capsule-icon-color: var(--wot-navbar-capsule-icon-color, $text-main) !default;
// 胶囊边框宽度
$navbar-capsule-border-width: var(--wot-navbar-capsule-border-width, $n-1) !default;
// 分割线宽度
$navbar-capsule-sperator-width: var(--wot-navbar-capsule-sperator-width, $n-1) !default;
// 分割线高度
$navbar-capsule-sperator-height: var(--wot-navbar-capsule-sperator-height, $n-18) !default;
// 分割线颜色
$navbar-capsule-sperator-color: var(--wot-navbar-capsule-sperator-color, $border-light) !default;

@include b(navbar-capsule) {
  position: relative;
  box-sizing: border-box;
  width: $navbar-capsule-width;
  height: $navbar-capsule-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: calc($navbar-capsule-radius * 2);
    border: $navbar-capsule-border-width solid $navbar-capsule-border-color;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: $navbar-capsule-sperator-width;
    height: $navbar-capsule-sperator-height;
    background: $navbar-capsule-sperator-color;
  }

  &:empty {
    display: none;
  }

  @include edeep(icon) {
    flex: 1;
    position: relative;
    color: $navbar-capsule-icon-color;
    font-size: $navbar-capsule-icon-size;
  }
}