@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

// 图标颜色
$status-tip-icon-color: var(--wot-status-tip-icon-color, $icon-disabled) !default;
// 文案字号
$status-tip-text-font-size: var(--wot-status-tip-text-font-size, $typography-body-size-extra-large) !default;
// 文案行高
$status-tip-text-line-height: var(--wot-status-tip-text-line-height, $typography-body-line--height-size-extra-large) !default;
// 文案字重
$status-tip-text-font-weight: var(--wot-status-tip-text-font-weight, $typography-body-font-weight-strong) !default;
// 文案颜色
$status-tip-text-color: var(--wot-status-tip-text-color, $text-main) !default;
// 文案顶部间距
$status-tip-text-margin-top: var(--wot-status-tip-text-margin-top, $spacing-extra-tight) !default;
// 图标尺寸
$status-tip-icon-size: var(--wot-status-tip-icon-size, $n98) !default;
// 组件底部内边距
$status-tip-padding-bottom: var(--wot-status-tip-padding-bottom, $spacing-ultra-loose) !default;

@include b(status-tip) {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $status-tip-padding-bottom;

  @include edeep(icon) {
    margin: 0 auto;
    width: $status-tip-icon-size;
    height: $status-tip-icon-size;
    font-size: $status-tip-icon-size;
    color: $status-tip-icon-color;
  }
  @include e(text) {
    margin-top: $status-tip-text-margin-top;
    font-size: $status-tip-text-font-size;
    line-height: $status-tip-text-line-height;
    font-weight: $status-tip-text-font-weight;
    color: $status-tip-text-color;
    text-align: center;
    word-break: break-all;
  }
}
