@use '../../styles/mixin/mixin.scss' as *;
@use '../../styles/variable.scss' as *;

$index-anchor-bg: var(--wot-index-anchor-bg, $filled-bottom) !default;
$index-anchor-padding: var(--wot-index-anchor-padding, $padding-main) !default;
$index-anchor-font-size: var(--wot-index-anchor-font-size, $typography-body-size-main) !default;
$index-anchor-color: var(--wot-index-anchor-color, $text-main) !default;
$index-anchor-z-index: var(--wot-index-anchor-z-index, 1) !default;

// #ifdef MP-DINGTALK
@include b(index-anchor-ding) {
  
  @include when(sticky){
    position: sticky;
    top: 0;
    left: 0;
    z-index: $index-anchor-z-index;
  }
}
// #endif

@include b(index-anchor) {
  background: $index-anchor-bg;
  padding: $index-anchor-padding;
  font-size: $index-anchor-font-size;
  color: $index-anchor-color;

  @include when(sticky){
    position: sticky;
    top: 0;
    left: 0;
    z-index: $index-anchor-z-index;
  }
}
