@use '../styles/mixin/mixin.scss' as *;
@use '../styles/variable.scss' as *;

$picker-toolbar-height: var(--wot-picker-toolbar-height, $n44) !default;
$picker-bg: var(--wot-picker-bg, $filled-oppo) !default;
$picker-confirm-action-color: var(--wot-picker-confirm-action-color, $primary-6) !default;
$picker-cancel-action-color: var(--wot-picker-cancel-action-color, $text-secondary) !default;
$picker-action-disabled-color: var(--wot-picker-action-disabled-color, $text-disabled) !default;
$picker-action-font-size: var(--wot-picker-action-font-size, $typography-body-size-extra-large) !default;
$picker-title-color: var(--wot-picker-title-color, $text-main) !default;
$picker-title-font-size: var(--wot-picker-title-font-size, $typography-title-size-main) !default;
$picker-title-font-weight: var(--wot-picker-title-font-weight, $font-weight-medium) !default;
$picker-title-line-height: var(--wot-picker-title-line-height, $typography-title-line--height-size-main) !default;
$picker-radius: var(--wot-picker-radius, $radius-large) !default;

@include b(picker) {
  @include edeep(popup) {
    border-radius: $picker-radius $picker-radius 0px 0px;
  }

  @include e(wraper) {
    padding-bottom: var(--window-bottom);
    background: $picker-bg;
  }

  @include e(toolbar) {
    position: relative;
    display: flex;
    height: $picker-toolbar-height;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  @include e(action) {
    display: block;
    border: none;
    outline: none;
    font-size: $picker-action-font-size;
    background: transparent;
    padding: 0 15px;

    @include m(cancel) {
      color: $picker-cancel-action-color;
    }

    @include m(confirm) {
      color: $picker-confirm-action-color;
    }
  }

  @include e(title) {
    display: block;
    flex: 1;
    text-align: center;
    color: $picker-title-color;
    font-size: $picker-title-font-size;
    font-weight: $picker-title-font-weight;
    line-height: $picker-title-line-height;
  }
}
