@use '../../styles/mixin/mixin.scss' as *;
@use '../index.scss' as *;

@include b(year-panel) {
  font-size: $calendar-view-font-size;

  @include e(controls) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $calendar-view-controls-padding;
  }

  @include e(controls-title) {
    font-size: $calendar-view-panel-title-font-size;
    line-height: $calendar-view-panel-title-line-height;
    color: $calendar-view-panel-title-color;
    font-weight: $calendar-view-panel-title-font-weight;
  }

  @include edeep(control-icon) {
    color: $calendar-view-control-icon-color;
    font-size: $calendar-view-control-icon-size;
    line-height: $calendar-view-control-icon-size;
    &:not(:last-child) {
      margin-right: $calendar-view-control-icon-spacing;
    }
    @include when(disabled){
      color: $calendar-view-control-disabled-color;
      cursor: not-allowed;
    }
  }

  @include e(title) {
    font-size: $calendar-view-panel-title-font-size;
    line-height: $calendar-view-panel-title-line-height;
    color: $calendar-view-panel-title-color;
    padding: $calendar-view-panel-title-padding;
    font-weight: $calendar-view-panel-title-font-weight;
    margin: $calendar-view-panel-title-margin;
  }
}